<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main>
        <section>
            <div class="about">
                <h6 class="heading">About us</h6>
                <p class="about-text">We are working as a team. As a team member we can know the strengths and weaknesses of others. We have a Coordinator who has immense experience in a particular field. With his experience and expertise, he controls the productivity and outcome of a team.</p>
            </div>
        </section>
         <p>Go to<a href="../../index.html">Home page</a></p>
    </main>   
</body>
</html>