<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main>
        <section>
            <h2>Welcome to our blog part</h2>
            <p class="blog-text"><b><u>See some pictures</u></b></p>
            <div class="blog-img">
                <img src="../media/image/blg-1.jpg" alt="blg-1" width="430">
                <img src="../media/image/blg-2.jpg" alt="blg-2" width="430">
                <img src="../media/image/blg-3.jpg" alt="blg-3" width="430">
            </div>
            <p class="blog-text"><b>Enjoy a Video</b></p>
            <div class="blog-video">
                <video src="../media/video/ocean-65560.mp4" controls width="500"></video>
            </div>    
        </section>
        <p>Go to<a href="../../index.html">Home page</a></p>
    </main>   
</body>
</html>