<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main>
        <section>
            <div class="gallery-text">
                <h3>Here we go</h3>
                <p>We are doing our best to make you glad. Please be patient and give us our feedback.</p>
            </div>
            <div class="gallery-img">
                <img src="../media/image/g-1.jpg" alt="g-1" width="430">
                <img src="../media/image/g-2.jpg" alt="g-2" width="430">
                <img src="../media/image/g-3.jpg" alt="g-3" width="430"><br><br>
                <img src="../media/image/g-4.jpg" alt="g-4" width="430">
                <img src="../media/image/g-5.jpg" alt="g-5" width="430">
                <img src="../media/image/g-6.jpg" alt="g-6" width="430">
            </div>

            <h2 class="feedback">Give your feedback</h2>
            <div class="info">
                <form action="thanks.html">
                    <fieldset>
                        <legend>Your Information:</legend>
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" required>
                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" required><br><br>
                            <label for="email">Email</label>
                            <input type="email" id="email" required>
                            <label for="tel">Phone</label>
                            <input type="tel" id="tel" required>
                    </fieldset>
                    <fieldset>
                        <legend>Your Comments & Rating:</legend>
                        <label>Your Comments</label><br><br>
                        <input type="checkbox">Colorful
                        <input type="checkbox">Upgraded
                        <input type="checkbox">Dashing <br><br>
            
                        <label>Your Rating</label><br><br>
                        <input type="radio" name="mark">Good
                        <input type="radio" name="mark">Better
                        <input type="radio" name="mark">Best <br><br>
                        
                        <input type="submit" value="submit">
                    </fieldset>
                </form>
            </div>  
        </section>    
    </main>     
</body>
</html>