<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main>
        <section>
            <h2>Portfolio</h2>
            <h3>We are committed to serve you with our best output</h3>
            <p>Let us see our team members.</p>
            <div>
                <img src="../media/image/group.png" alt="team-member">
            </div>
            <h4>Now let us see the hierarchy</h4>
            <ol type="i">
                <li><a href="https://www.facebook.com/theophil.dio">Theopil Dio--Coordinator</a></li>
                <li><a href="https://www.facebook.com/shrabon.little">Srabon Chiran--Sub-ordinate</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100008362272685">Mehdi Hasan--Sub-ordinate</a></li>
                <li><a href="https://www.facebook.com/alexshimul.dio">Shimul Dio--Sub-ordinate</a></li>
                <li><a href="https://www.facebook.com/jamesbipul.gomes">James Bipul Gomes--Sub-ordinate </a></li>
                <li><a href="https://www.facebook.com/rahul.ritchil">Raphail Ritchil--Sub-ordinate</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100009081720235">Mihun Sangma--Sub-ordinate</a> </li>
                <li><a href="https://www.facebook.com/srssadafrhaman.khan">Fahad Khan--Sub-ordinate</a> </li>
                <li><a href="https://www.facebook.com/tonmoy.marak.144">Tonmoy Marak--Sub-ordinate</a></li>
                <li><a href="https://www.facebook.com/pollock.corraya/">Pollock John Corraya--Sub-ordinate</a></li>
                
            </ol>
        </section>
        <p>Go to<a href="../../index.html">Home page</a></p>  
    </main>   
</body>
</html>