<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main>
        <div class="services-text">
            <h2>What kind of service you want please let us know.</h2>
            <p>We are ready to provide you</p>
            <ul>
                <li>Row HTML & CSS Website</li>
                <li>Website using Wordpress</li>
                <li>PSD to HTML</li>
                <li>Figma to HTML</li>
            </ul>
        </div>
        <div class="service-info">
            <form action="thanks.html">
                <fieldset>
                    <legend>Your Information:</legend>
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" required>
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" required><br><br>
                    <label for="email">Email</label>
                    <input type="text" id="email" required>
                    <label for="phone">Mobile No</label>
                    <input type="tel" id="phone" required><br><br>
                    <input type="submit" value="Submit">      
                </fieldset>
            </form>
        </div>
        <p>Go to<a href="../../index.html">Home page</a></p>
    </main>
</body>
</html>