<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main>
        <section>
            <h2>Testimonials</h2>
            <p>We have lots of achievements. Some of them are heres:</p>
    
            <div>
                <img src="../media/image/certificate.jpg" alt="testimonial" width="500"><br><br>
                <img src="../media/image/certificate-1.jpg" alt="testimonial" width="500"><br><br>
                <img src="../media/image/certificate-2.jpg" alt="testimonial" width="500"><br><br>
                
            </div>
    
            <p>Go to<a href="../../index.html">Home page</a></p>
        </section>
    </main>
</body>
</html>